<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,address=no,email=no"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.7.0/sweetalert2.css"/>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/public/bootstrap.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="../static/css/public/global.css" rel="stylesheet">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/public.js"></script>
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid bg-white">
    <div class="form">
        <div class="form-group border-bottom">
            <label for="phone" class="col-xs-2 control-label">手机号</label>
            <div class="input-group col-xs-10">
                <input type="tel" class="form-control" id="phone" placeholder="" maxlength="11"/>
            </div>
        </div>
        <div class="form-group border-bottom">
            <label class="col-xs-2 control-label" for="verification">验证码</label>
            <div class="input-group col-xs-10">
                <input type="text" class="form-control" id="verification" maxlength="6" placeholder=""/>
                <div id="getVerification" class="input-group-addon" data-toggle="modal" data-target="#myModal">获取验证码</div>
            </div>
        </div>
        <div class="form-group">
            <button class="submit" type="submit" class="btn btn-block">登陆</button>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">安全验证</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="code" maxlength="6" placeholder=""/>
                <img src="../static/images/JIAOYOU.png" alt=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="col-xs-6" data-dismiss="modal">取消</button>
                <button type="button" class="col-xs-6">验证</button>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.7.0/sweetalert2.min.js"></script>
<script>
    $(document).ready(function () {

    });
</script>
</html>