<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的详情</title>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,address=no,email=no"/>
    <link rel="stylesheet" href="../static/css/public/bootstrap.css">
    <link href="../static/css/public/global.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/myDetails.css">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/public.js"></script>
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row row_padding details border_bottom bg-white">
        <div>
            <span style="color: #888;">订单号：1111111111</span>
            <span style="color:#87DE79;" class="pull-right">已支付</span>
        </div>
        <div class="col-xs-3">
            <img src="../static/images/goodsDetails/DAC.png" alt=""/>
        </div>
        <div class="col-xs-9">
            <p>加油券</p>
            <p>数量：<span>20张</span></p>
            <p>面值：<span>20元</span></p>
            <p class="pull-right">2017-12-28</p>
        </div>
    </div>
    <div class="row" style="padding: 10px 15px; ">
        <div class="col-xs-12 explain">
            <span>使用说明:</span><br/>
            <span>曹操专车代金券</span>
        </div>
        <div class="col-xs-12 explain">
            <span>有效期:</span><br/>
            <span>2018-01-09至2018-09-09</span>
        </div>
        <div class="col-xs-12 explain">
            <span>使用限制:</span><br/>
            <span>仅限陕西地区曹操专车加油站</span>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
    });
</script>
</html>