<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>付款</title>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,address=no,email=no"/>
    <link rel="stylesheet" href="../static/css/public/bootstrap.css">
    <link href="../static/css/public/global.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/payment.css">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/public.js"></script>
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid payment_box">
    <div class="row bg-white white_box text-center">
        <div class="col-xs-12 money">余额 <span style="color: #d43f3a;">100.00元</span></div>
        <div class="col-xs-12 details">请至收银台出示一下条形码进行付款</div>
        <div class="col-xs-12 bar_code">余额100.00元</div>
        <div class="col-xs-6 col-xs-push-3 QR_code">余额100.00元</div>
        <div class="col-xs-12 num">1111111111111111111</div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center" style="padding-top: 20px;color: #fff;">支付码36秒后刷新</div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {

    });
</script>
</html>