html,body {
    padding-top: 10px;
}

.form {
    padding: 0 10px;
}
.border-bottom {
    border-bottom: 1px solid #f7f7f7;
    padding: 10px 0 7px 0;
    line-height: 34px;
    overflow: hidden;
}
.border-bottom input{
    border: none;
    box-shadow: none;
    transition: none;
    appearance: none;
}
.border-bottom input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.border-bottom .scan{
    float: right;
    width: 30px;
    height: 30px;
}
.col-xs-2 ,.col-xs-4{
    padding-left: 0;
    padding-right: 0;
}
.effective img{
    width: 18px;
    margin-right: 5px;
}
.effective img:nth-of-type(2){
    margin-left: 20px;
}
.submit_box {
    background: #f7f7f7;
}
.submit_box button{
    height: 50px;
    width: 100%;
    background: #32BBFF;
    color: #ffffff;
    border: none;
}