<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="../css/swiper-3.2.7.min.css"/>
    <link rel="stylesheet" href="../css/animate.min.css"/>
    <link rel="stylesheet" href="../css/myself.css"/>
    <title>2017年度违法账单</title>
</head>
<body>


<div class="swiper-container" id="container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="0.4s" src="../img/1/10.png" alt="">
            <img class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="0.6s" src="../img/1/2.png" alt="">
            <img class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="0.8s" src="../img/1/3.png" alt="">
            <img class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="1s" src="../img/1/4.png" alt="">
            <img class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="1.2s" src="../img/1/5.png" alt="">
            <img class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="1.4s" src="../img/1/6.png" alt="">
            <img class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="1.6s" src="../img/1/7.png" alt="">
            <img class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="0.2s" src="../img/1/9.png" alt="">
            <!--<img class="ani jiantou" swiper-animate-effect="fadeInUp infinite" swiper-animate-duration="1s" swiper-animate-delay="0.2s" src="../img/arrow-up1.png" >-->
            <div class="firstFont">
                <p class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="1.8s">全年无违章</p><br>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/swiper-3.2.7.min.js"></script>
<script src="../js/swiper.animate1.0.2.min.js"></script>
<script src="../js/index.js"></script>
</body>

</html>