<!DOCTYPE html>
<html>
<head lang="en">
    <title>2017年度违法账单</title>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,address=no,email=no"/>
    <link rel="stylesheet" href="../css/myself.css"/>
</head>
<body>
<div class="bigBox">
    <img class="bigImg" src="" alt="">
    <img class="left" src="" alt="">
    <img class="right" src="" alt="">
    <img class="zhezhao" id="zhezhao" src="../img/h5-3-3.png" alt="">
</div>
</body>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<input type="hidden" id="fxTitle" value="你和爱车的亲密度是？"/>
<input type="hidden" id="fxDesc" value="仅限老司机参与，未成年请照顾好你的小灵魂，测完还有机会领取加油券哦"/>
<input type="hidden" id="fxImgUrl" value="https://mobile.sxwinstar.net/finance/winstar-h5-finance/templet/11wechat/img/fx.png"/>
<input type="hidden" id="fxUrl" value="https://mobile.sxwinstar.net/wechat/index.php?type=login&menu=11activity"/>

<script src="../js/fx.js"></script>
<script>
    $('.bigBox').animate({opacity: "1"}, 1000);
    var bigImg = $('.bigImg');
    var left = $('.left');
    var right = $('.right');
    var zhezhao = $('#zhezhao');
    if (getUrlParams('illegalTimes') <= 2) {
        bigImg.attr('src', '../img/bg/1.jpg');
        left.attr('src', '../img/bg/left1.png');
        right.attr('src', '../img/bg/right1.png');
    } else if (getUrlParams('illegalTimes') > 2 && getUrlParams('illegalTimes') <= 7) {
        bigImg.attr('src', '../img/bg/2.jpg');
        left.attr('src', '../img/bg/left2.png');
        right.attr('src', '../img/bg/right2.png');
    } else if (getUrlParams('illegalTimes') > 7 && getUrlParams('illegalTimes') <= 12) {
        bigImg.attr('src', '../img/bg/3.jpg');
        left.attr('src', '../img/bg/left3.png');
        right.attr('src', '../img/bg/right3.png');
    } else if (getUrlParams('illegalTimes') > 12 && getUrlParams('illegalTimes') <= 18) {
        bigImg.attr('src', '../img/bg/4.jpg');
        left.attr('src', '../img/bg/left4.png');
        right.attr('src', '../img/bg/right4.png');
    } else if (getUrlParams('illegalTimes') > 18 && getUrlParams('illegalTimes') <= 33) {
        bigImg.attr('src', '../img/bg/5.jpg');
        left.attr('src', '../img/bg/left5.png');
        right.attr('src', '../img/bg/right5.png');
    } else {
        bigImg.attr('src', '../img/bg/6.jpg');
        left.attr('src', '../img/bg/left6.png');
        right.attr('src', '../img/bg/right6.png');
    }


    zhezhao.click(function () {
        zhezhao.hide();
    })
    bigImg.click(function (event) {
        event.preventDefault();
        event.stopPropagation();
    });
    left.click(function (event) {
        event.preventDefault();
        event.stopPropagation();
        console.log(1111111111)
        zhezhao.show();

    });
    right.click(function (event) {
        event.preventDefault();
        event.stopPropagation();
    });

    //js获取url参数
    function getUrlParams(name, url) {
        if (!url) url = window.location.href;
        var params = {};
        var url = decodeURI(url);
        var idx = url.indexOf("?");
        if (idx > 0) {
            var queryStr = url.substring(idx + 1);
            var args = queryStr.split("&");
            for (var i = 0, a, nv; a = args[i]; i++) {
                nv = args[i] = a.split("=");
                params[nv[0]] = nv.length > 1 ? nv[1] : true;
            }
        }
        return params[name];
    }
</script>
</html>